/* ===== RESET ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ===== BODY ===== */
body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    transition: 0.4s;
}

/* ===== CONTAINER ===== */
.container {
    width: 100%;
    max-width: 420px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

/* ===== THEMES ===== */
.dark {
    background-color: rgba(37, 39, 41, 0.885);
    color: rgb(227, 218, 206);
}

.light {
    background-color: rgb(227, 218, 206);
    color: rgba(37, 39, 41, 0.885);
}

/* ===== BUTTON ===== */
button {
    padding: 12px;
    border-radius: 10px;
    border: none;
    background-color: rgba(97, 107, 60, 0.757);
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    transform: translateY(-2px);
}

/* ===== DROPDOWN ===== */
.dropdown {
    position: relative;
}

.dropdown select {
    width: 100%;
    padding: 10px 40px 10px 10px;
    border-radius: 8px;
    border: none;
    appearance: none;
}

dropdown::after {
    content: "⌄";
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}

/* ===== INPUT ===== */
.input input,
.github input {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: none;
}

/* ===== GITHUB SECTION ===== */
.github {
    display: flex;
    gap: 10px;
}

.github input {
    flex: 2;
}

github select {
    flex: 1;
    border-radius: 8px;
    border: none;
}

/* ===== SAVED LINKS ===== */
#savedLinks {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* ===== ACTION BUTTONS ===== */
.actions {
    display: flex;
    gap: 10px;
}

actions button {
    flex: 1;
}

/* ===== SLIDER ===== */
#hoverDiv {
    height: 60px;
    background: rgba(37, 39, 41, 0.6);
    border-radius: 30px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    width: 250px;
    user-select: none; /* Prevents accidental selection */
}

#hoverDiv span {
    position: absolute;
    left: 70px;
    color: #eee;
    font-size: 15px;
    pointer-events: none;
}

#thumb {
    width: 50px;
    height: 50px;
    background: rgb(227, 218, 206);
    border-radius: 50%;
    position: absolute;
    left: 5px;
    top: 5px;
    cursor: pointer;
    box-shadow: 0 2px 10px #0af3;
    transition: background 0.1s;
    touch-action: none; /* Add this for mobile */
}

#thumb:active {
    background: #11bbee;
}